#grid-one {
  background-color: red;
  color: red;
  border-radius: 7px;
  grid-column: 1 / span 2;
  grid-row: 1;
}

#grid-two {
  background-color: blue;
  color: blue;
  border-radius: 7px;
  grid-column: 3 / span 2;
  grid-row: 1;
}

#grid-three {
  background-color: green;
  color: green;
  border-radius: 7px;
  grid-column: 1;
  grid-row: 2;
}

#grid-four {
  background-color: purple;
  color: purple;
  border-radius: 7px;
  grid-column: 2 / span 3;
  grid-row: 2;
}

#grid-five {
  background-color: yellow;
  color: yellow;
  border-radius: 7px;
  grid-column: 1 / span 4;
  grid-row: 3;
}
* {
  font-family: "Helvetica Neue";
}

.grid-container {
  background-color: whitesmoke;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  border-radius: 7px;
}

.grid-item {
  background-color: #808e9b;
  border: #1e272e;
  color: #ffffff;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
